
table {
	width:50%;
}
table,th,td{
	border:1px solid black;
}
th{
	height:50px;
	text-align:center;
	vertical-align:center;
}
td{
	height:50px;
	text-align:center;
	vertical-align:center;
}

table tbody th:first-child{

	font-weight:normal;
	font-style:italic;
}

table tbody tr td:nth-child(2){
	color:red;
}

table tbody tr td:nth-child(4){
	color:blue;
}

table tbody tr:nth-of-type(n+2){
	background-color:lightblue;
}

table tbody tr:nth-of-type(2n+2){
	background-color:lightgreen;
}

dt:hover +dd{
	background-color:purple;
}
